/* Normal Box Layout */
.normal-layout {
    border: 1px solid blue;
    padding: 10px;
  }
  
  .normal-layout p {
    background: lightblue;
    margin-bottom: 10px;
  }
  
  .normal-layout span {
    background: yellow;
  }
  
  /* Basic Box Layout */
  .basic-layout {
    border: 1px solid green;
    padding: 10px;
  }
  
  .basic-layout .box {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
  }
  