#box1{
    width: 400px;
    height: 400px;
    border:1px solid black;
    margin:60px;
    position :relative
}
    


#dai{
    font-size: 40px;
    border: 1px solid lightgreen;
    position: absolute;
    background-color: lightgreen;
    padding:0%;
    top: 0px;
    right: 0px;
}
